{%
    set catalogBoxes = [
    { title: 'Матрасы', mod: 'dropdown', index: '',
        list: [
        {name: 'Тип', list: ['Пружинные','С ортопедическим  эффектом','Беспружинные']},
        {name: 'Размер', list: ['Односпальные','Двуспальные','Детские']},
        {name: 'Жесткость', list: ['Мягкие','Средняя жёсткость','Жёсткие']},
        {name: 'По назначению', list: ['На диван','Анатомические','На большой вес','Для пожилых']},
        {name: 'По форме', list: ['Тонкие','Высокие','Топперы']},
        {name: 'По цене', list: ['Недорогие','Премиум','Распродажа']},
    ]
    },
    { title: 'Кровати', mod: 'dropdown', index: '1',
        list: [
        {name: 'Тип', list: ['Пружинные','С ортопедическим  эффектом','Беспружинные']},
        {name: 'Размер', list: ['Односпальные','Двуспальные','Детские']},
        {name: 'Жесткость', list: ['Мягкие','Средняя жёсткость','Жёсткие']},
        {name: 'По назначению', list: ['На диван','Анатомические','На большой вес','Для пожилых']},
    ]
    },
    { title: 'Диваны <span class="grey">∙</span> <span>Ценопад</span>', mod: 'green', index: '2',
        list: [
        {name: 'По назначению', list: ['На диван','Анатомические','На большой вес','Для пожилых']},
        {name: 'По форме', list: ['Тонкие','Высокие','Топперы']},
        {name: 'По цене', list: ['Недорогие','Премиум','Распродажа']},
    ]
    },
    { title: 'Аксессуары для сна', mod: 'dropdown', index: '3',
        list: [
        {name: 'Тип', list: ['Пружинные','С ортопедическим  эффектом','Беспружинные']},
        {name: 'Размер', list: ['Односпальные','Двуспальные','Детские']},
        {name: 'Жесткость', list: ['Мягкие','Средняя жёсткость','Жёсткие']},
        {name: 'По форме', list: ['Тонкие','Высокие','Топперы']},
        {name: 'По цене', list: ['Недорогие','Премиум','Распродажа']},
    ]
    },
    { title: 'Мебель для спальни', mod: 'dropdown', index: '4',
        list: [
        {name: 'Тип', list: ['Пружинные','С ортопедическим  эффектом','Беспружинные']},
        {name: 'Жесткость', list: ['Мягкие','Средняя жёсткость','Жёсткие']},
        {name: 'По назначению', list: ['На диван','Анатомические','На большой вес','Для пожилых']},
        {name: 'По цене', list: ['Недорогие','Премиум','Распродажа']},
    ]
    },
    { title: 'Кресла и пуфы', mod: 'dropdown', index: '5',
        list: [
        {name: 'Тип', list: ['Пружинные','С ортопедическим  эффектом','Беспружинные']},
        {name: 'Размер', list: ['Односпальные','Двуспальные','Детские']},
        {name: 'Жесткость', list: ['Мягкие','Средняя жёсткость','Жёсткие']},
        {name: 'По назначению', list: ['На диван','Анатомические','На большой вес','Для пожилых']},
        {name: 'По форме', list: ['Тонкие','Высокие','Топперы']},
        {name: 'По цене', list: ['Недорогие','Премиум','Распродажа']},
    ]
    },
    { title: 'Новинки', mod: 'red', index: '6',
        list: [
        {name: 'Тип', list: ['Пружинные','С ортопедическим  эффектом','Беспружинные']},
        {name: 'Размер', list: ['Односпальные','Двуспальные','Детские']},
        {name: 'Жесткость', list: ['Мягкие','Средняя жёсткость','Жёсткие']},
        {name: 'По назначению', list: ['На диван','Анатомические','На большой вес','Для пожилых']},
        {name: 'По форме', list: ['Тонкие','Высокие','Топперы']},
        {name: 'По цене', list: ['Недорогие','Премиум','Распродажа']},
    ]
    },
    { title: 'Кровати', mod: 'dropdown', index: '1',
        list: [
        {name: 'Тип', list: ['Пружинные','С ортопедическим  эффектом','Беспружинные']},
        {name: 'Размер', list: ['Односпальные','Двуспальные','Детские']},
        {name: 'Жесткость', list: ['Мягкие','Средняя жёсткость','Жёсткие']},
        {name: 'По назначению', list: ['На диван','Анатомические','На большой вес','Для пожилых']},
    ]
    },
    { title: 'Диваны <span class="grey">∙</span> <span>Ценопад</span>', mod: 'green', index: '2',
        list: [
        {name: 'По назначению', list: ['На диван','Анатомические','На большой вес','Для пожилых']},
        {name: 'По форме', list: ['Тонкие','Высокие','Топперы']},
        {name: 'По цене', list: ['Недорогие','Премиум','Распродажа']},
    ]
    },
    { title: 'Аксессуары для сна', mod: 'dropdown', index: '3',
        list: [
        {name: 'Тип', list: ['Пружинные','С ортопедическим  эффектом','Беспружинные']},
        {name: 'Размер', list: ['Односпальные','Двуспальные','Детские']},
        {name: 'Жесткость', list: ['Мягкие','Средняя жёсткость','Жёсткие']},
        {name: 'По форме', list: ['Тонкие','Высокие','Топперы']},
        {name: 'По цене', list: ['Недорогие','Премиум','Распродажа']},
    ]
    },
    { title: 'Мебель для спальни', mod: 'dropdown', index: '4',
        list: [
        {name: 'Тип', list: ['Пружинные','С ортопедическим  эффектом','Беспружинные']},
        {name: 'Жесткость', list: ['Мягкие','Средняя жёсткость','Жёсткие']},
        {name: 'По назначению', list: ['На диван','Анатомические','На большой вес','Для пожилых']},
        {name: 'По цене', list: ['Недорогие','Премиум','Распродажа']},
    ]
    },
    { title: 'Кресла и пуфы', mod: 'dropdown', index: '5',
        list: [
        {name: 'Тип', list: ['Пружинные','С ортопедическим  эффектом','Беспружинные']},
        {name: 'Размер', list: ['Односпальные','Двуспальные','Детские']},
        {name: 'Жесткость', list: ['Мягкие','Средняя жёсткость','Жёсткие']},
        {name: 'По назначению', list: ['На диван','Анатомические','На большой вес','Для пожилых']},
        {name: 'По форме', list: ['Тонкие','Высокие','Топперы']},
        {name: 'По цене', list: ['Недорогие','Премиум','Распродажа']},
    ]
    },
    { title: 'Новинки', mod: 'red', index: '6',
        list: [
        {name: 'Тип', list: ['Пружинные','С ортопедическим  эффектом','Беспружинные']},
        {name: 'Размер', list: ['Односпальные','Двуспальные','Детские']},
        {name: 'Жесткость', list: ['Мягкие','Средняя жёсткость','Жёсткие']},
        {name: 'По назначению', list: ['На диван','Анатомические','На большой вес','Для пожилых']},
        {name: 'По форме', list: ['Тонкие','Высокие','Топперы']},
        {name: 'По цене', list: ['Недорогие','Премиум','Распродажа']},
    ]
    },
]
%}

{%
    set catalogSidebar = [
        'Взрослые матрасы',
        'Детские матрасы',
        'Топперы',
        'Кровати',
        'Наматрасники',
        'Подушки',
        'Одеяла',
        'Диваны',
        'Мебель для спальни',
        'Шкафы',
        'Кресла',
        'Столы',
        'Защитные чехлы',
    ]
%}

<div class="catalog" data-element="catalog">
    <div class="catalog__container">
        <ul class="catalog__sidebar">
            {% for item in catalogSidebar %}
                <li class="catalog__sidebar-item">
                    <a href="#" data-element="catalog-sidebar-link" data-index="{{ loop.index - 1 }}"
                       class="{{ loop.first ? 'catalog__sidebar-link catalog__sidebar-link_active text-16-medium' : 'catalog__sidebar-link text-16-medium' }}">
                        {{ item }}
                    </a>
                </li>
            {% endfor %}
        </ul>
        <div class="catalog__wrap">
            {% for box in catalogBoxes %}
                <div class="{{ loop.first ? 'catalog__area catalog__area_active' : 'catalog__area' }}"
                     data-element="catalog-area">
                    {% for item in box.list %}
                        <div class="catalog__box">
                            <div class="catalog__name text-13-medium">{{ item.name }}</div>
                            <div class="catalog__list">
                                {% for link in item.list %}
                                    <a href="#" class="catalog__link text-16 link-hover-blue">{{ link }} {{ box.index }}</a>
                                {% endfor %}
                            </div>
                        </div>
                    {% endfor %}
                </div>
            {% endfor %}
        </div>
        <div class="catalog__informer">
            {% include 'informer.twig' %}
        </div>
    </div>
</div>
